body {
    margin: 0;
}
hr {
    visibility: hidden;
}
.text {
    line-height: 4vh;
}
.container {
    position: relative;
    text-align: center;
    margin-bottom: 3vh;
}
.container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.head_text {
    position: absolute;
    bottom:23vh;
    left: 7vw;
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5vw;
    margin-right: 40vw;
    line-height: 7vh;
}
h2.head_text {
    font-size: 40px;
    font-weight: normal;
}
span.head_text {
    font-size: 20px;
    font-family: cursive;
    font-weight: normal;
    bottom: 20vh;
}
#left {
    width: 50%;
    display: block;
    margin: 10vh auto;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
    padding: 5vh 5vw;
}
#left .left {
    width: 48%;
    height: 50.5vh;
    margin-right: 0.4vw;
    margin-bottom: 0.5vh;
}
#left .right {
    width: 48%;
    height: 50.5vh;
    margin-left: 0.4vw;
    margin-bottom: 0.5vh;
}
#left .center {
    width: 98.25%;
    margin-top: 0.5vh;
}
.links {
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 2px solid rgb(180, 180, 180);
    padding: 3vh 0;
}
.links i {
    margin-right: 2vw;
    font-size: 20px;
    cursor: pointer;
}
h2 {
    margin-left: 20vw;
}
.recent {
    display: block;
    width: 50px;
    margin-left: 20vw;
    float: left;
}
.text {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recent .text {
    float:none;
    text-align: left;
    font-size: 15px;
    width: 250px;
}
.recent span {
    font-size: 12px;
}
.text h1 {
    line-height: 6vh;
}
.nav {
    display: none;
}
#socials {
    display: block;
    width: 100%;
    background-color: #2573DA;
    overflow: hidden;
    margin-top: 50vh;
    height: 10vh;
}
#social_links {
    display: block;
    margin: 3.5vh 10vw 3.5vh 16vw;
    text-align: center;
    color: white;
}
#socials i {
    margin-right: 0.7vw;
    font-size: 20px;
    cursor: pointer;
}
#socials span {
    margin-right: 8vw;
    font-family: sans-serif;
    cursor: pointer;
}
#twitter {
    margin-right: 0vw;
}
#about {
    display: none;
}
#insta {
    display: block;
}
#insta img {
    width: 20%;
    float: left;
}

#about_me {
    width: 40%;
    float: left;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
#about_me img {
    float: left;
    width: 140px;
    height: 141px;
    margin-right: 30px;
}
#about_me span {
    font-size: 25px;
}
#about_me p {
    font-family: sans-serif;
    line-height: 25px;
}

/*fashion.html*/
#left_fashion {
    width: 25%;
    float:left;
    text-align: right;
    margin-top: 200px;
    margin-bottom: 130px;
}
#left_fashion span {
    font-size: 13px;
    padding: 0 10px;
    cursor: pointer;
}
#center_fashion {
    width: 50%;
    font-size: 70px;
    float:left;
    text-align: center;
}
#center_fashion h1 {
    font-family: sans-serif;
    cursor: pointer;
}
#right_fashion {
    width: 25%;
    float: left;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 130px;
}
#right_fashion i {
    padding: 0 10px;
    cursor: pointer;
}
#free {
    text-align: left;
    margin-left: 17%;
}
#profile_pic {
    float: left;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.article {
    width: 66%;
    display: block;
    margin: 8vh auto;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
    padding: 2vh 0;
}
.article_text {
    display: block;
    width: 80%;
    margin: 8vh auto;
    text-align: left;
}
.article pre {
    position: relative;
    top: 1vh;
    margin-bottom: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#article_img {
    width: 100%;
    margin: 4vh 0;
}
.article h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.article .links i {
    cursor: pointer;
    font-size: 2vh;
}

/*Food.html*/
#food_head {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
}
#food_head img {
    width: 100%;
    height: 385px;
    object-fit: cover;
}
#first_txt {
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 17%;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    line-height: 0;
    padding-left: 20px;
    padding-right: 20px;
}
#first_txt h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
#second_txt {
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 20%;
    border: 1px solid black;
    background-color: #2F2E2E;
    line-height: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
}
#second_txt h3 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
.article_food {
    display: block;
    width: 58.5%;
    margin: 50px auto;
    border: 1px solid black;
    position: relative;
}
.article_food img {
    width: 100%;
}
#article_food_head {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top:-20px;
    left: -20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2F2E2E;
}
#article_food_head pre {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color:white;
}
.food_text {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.food_text img {
    width: 30px;
    border-radius: 50%;
    margin-top: 25px;
}
.food_text span {
    font: 12px sans-serif;
    color: #2F2E2E;
    margin-left: 10px;
    position: relative;
    top: -10px;
}
#food_text_h1 {
    text-align: left;
    font-size: 28px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 50px;
}
