.head {
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.head h1 {
    display: inline;
    margin-left: 35%;
    margin-right: 35%;
}
.container {
    position: relative;
    text-align: center;
    margin-bottom: 3vh;
}
.container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.head_text {
    position: absolute;
    bottom: 5vh;
    left: 15px;
    text-align: left;
    color: white;
    font-family: Roboto;
    margin-left: 5vw;
}
h2.head_text {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 4vh;
}
span.head_text {
    font-size: 27px;
    font-family: cursive;
}
* {
    line-height: 3vh;
}
.left, .right {
    width: 46%;
    float: left;
    height: 25vh;
    margin: 2vh 2% 2% 2%;
}
.center  {
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.text {
    margin-left: 2%;
    font-size: 20px;
}
.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    margin: 0 1vw;
}
.links {
    display: block;
    margin: 3vh auto;
    text-align: center;
}
.links i {
    margin: 0 2vw;
}