.head {
    width: 100%;
}
body {
    margin: 0;
}
.head #bars {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 3%;
}
.head #search {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-right: 5%;
    float: right;
}
.head h1 {
    display: inline;
    margin-left: 28%;
    margin-right: 20%;
    font-size: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Dropdown Button 
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover 
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover 
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {background-color: #3e8e41;}*/
.container {
    position: relative;
    text-align: center;
    margin-bottom: 3vh;
}
.container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.head_text {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    text-align: left;
    color: white;
    font-family: Roboto;
    margin-left: 2vw;
    margin-right: 2vw;
}
h2.head_text {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 4vh;
}
span.head_text {
    font-size: 27px;
    font-family: cursive;
}
* {
    line-height: 3vh;
}
.left, .right {
    width: 46%;
    float: left;
    height: 23vh;
    margin: 2vh 2% 2% 2%;
}
.center  {
    width: 96%;
    margin: 2% 2% 2% 2%;
    height: 20vh;
}
.text {
    margin-left: 2%;
    font-size: 20px;
    margin-right: 2%;
}
.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    margin: 0 1vw;
}
.links {
    display: block;
    margin: 3vh auto;
    text-align: center;
}
.links i {
    margin: 0 2vw;
}
.prev img {
    float: left;
    border-radius: 50%;
    height: 10vh;
    margin-top: 4vh;
    margin-right:3vw;
    margin-left: 2%;
}
.p_text {
    margin-top: 3.5vh;
    text-align: left;
    margin-right: 10vw;
}
.p_text span, .n_text span {
    color: gray;
    font-size: 13px;
}
.next img {
    float: right;
    border-radius: 50%;
    height: 10vh;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-right: 2%;
}
.next {
    text-align: right;
}
.n_text {
    margin-top: 1vh;
    margin-bottom: 6vh;
    margin-left: 10vw;
}
#about {
    display: block;
    border-left: 5px solid rgb(212, 134, 32);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5vh 2%;
}

#about img {
    margin-top: 3vh;
    border-radius: 50%;
    height: 8vh;
}
#about i {
    margin-bottom: 5vh;
}
#about p{
    margin: 0 10vw 1.5vh 10vw;
}
.more h3 {
    margin-left: 2%;
}
.more img {
    width: 96%;
    margin: 2vh 2%;
}
.more span {
    margin-left: 2%;
    font-size: 15px;
}
#insta, #foot {
    display: none;
}

/*Fashion.html*/
#left_fashion {
    width: 25%;
    float:left;
    text-align: right;
    margin-top: 4.5vh;/*5.4*/
    margin-bottom: 2vh;
}
#left_fashion span {
    font-size: 1vh;
    padding: 0 1vw;
    cursor: pointer;
}
#center_fashion {
    width: 50%;
    font-size: 50px;
    float: left;
    text-align: center;
}
#center_fashion h1 {
    font-family: sans-serif;
    cursor: pointer;
}
#right_fashion {
    width: 25%;
    float: left;
    text-align: left;
    margin-top: 4.5vh;/*5.4vh*/
    margin-bottom: 2vh;
}
#right_fashion i {
    padding: 0 1vw;
    cursor: pointer;
}
#free {
    text-align: left;
    margin
    font-size: 1.2vh;
}

#profile_pic {
    float: left;
    height: 3vh;
    border-radius: 50%;
    margin-right: 2vw;
}
.article {
    width: 80%;
    display: block;
    margin: 3vh auto;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
    padding: 2vh 0;
}
.article_text {
    display: block;
    width: 80%;
    margin: 3vh auto;
    text-align: left;
}
#article_img {
    width: 100%;
    margin: 2vh 0;
} 
.article pre {
    font-size: 1.2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bot {
    font-size: 1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}