.head {
    width: 100%;
}
body {
    margin: 0;
}
.head #bars {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 3%;
}
.head #search {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-right: 5%;
    float: right;
}
.head h1 {
    display: inline;
    margin-left: 28%;
    margin-right: 20%;
    font-size: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#socials {
    display: block;
    width: 100%;
    background-color: #2573DA;
    overflow: hidden;
    margin-top: 5vh;
    height: 5vh;
}
#social_links {
    display: block;
    margin: 1vh 10vw 1vh 16vw;
    text-align: center;
    color: white;
    font-size: 25px;
}
#socials_links i {
    margin-right: 1vw;
    cursor: pointer;
}
#socials span {
    margin-right: 5vw;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 23px;
}
#twitter {
    margin-right: 0vw;
}
#about {
    display: none;
}
#insta {
    display: block;
}
#insta img {
    width: 20%;
    float: left;
}

/* Dropdown Button 
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover 
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover 
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {background-color: #3e8e41;}*/
.container {
    position: relative;
    text-align: center;
    margin-bottom: 3vh;
}
.container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.head_text {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    text-align: left;
    color: white;
    font-family: Roboto;
    margin-left: 2vw;
    margin-right: 2vw;
}
h2.head_text {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 4vh;
}
span.head_text {
    font-size: 27px;
    font-family: cursive;
}
* {
    line-height: 3vh;
}
.left, .right {
    width: 46%;
    float: left;
    height: 23vh;
    margin: 2vh 2% 2% 2%;
}
.center  {
    width: 96%;
    margin: 2% 2% 2% 2%;
    height: 20vh;
}
.text {
    margin-left: 2%;
    font-size: 20px;
    margin-right: 2%;
}
.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    margin: 0 1vw;
}
.links {
    display: block;
    margin: 3vh auto;
    text-align: center;
}
.links i {
    margin: 0 2vw;
}
.prev img {
    float: left;
    border-radius: 50%;
    height: 10vh;
    margin-top: 4vh;
    margin-right:3vw;
    margin-left: 2%;
}
.p_text {
    margin-top: 3.5vh;
    text-align: left;
    margin-right: 10vw;
}
.p_text span, .n_text span {
    color: gray;
    font-size: 13px;
}
.next img {
    float: right;
    border-radius: 50%;
    height: 10vh;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-right: 2%;
}
.next {
    text-align: right;
}
.n_text {
    margin-top: 1vh;
    margin-bottom: 6vh;
    margin-left: 10vw;
}
#about {
    display: block;
    border-left: 5px solid rgb(212, 134, 32);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5vh 2%;
}

#about img {
    margin-top: 3vh;
    border-radius: 50%;
    height: 8vh;
}
#about i {
    margin-bottom: 5vh;
}
#about p{
    margin: 0 10vw 1.5vh 10vw;
}
.more h3 {
    margin-left: 2%;
}
.more img {
    width: 96%;
    margin: 2vh 2%;
}
.more span {
    margin-left: 2%;
    font-size: 15px;
}

/*Fashion.html*/
#left_fashion {
    width: 25%;
    float:left;
    text-align: right;
    margin-top: 4.5vh;/*5.4*/
    margin-bottom: 2vh;
}
#left_fashion span {
    font-size: 1vh;
    padding: 0 1vw;
    cursor: pointer;
}
#center_fashion {
    width: 50%;
    font-size: 50px;
    float: left;
    text-align: center;
}
#center_fashion h1 {
    font-family: sans-serif;
    cursor: pointer;
}
#right_fashion {
    width: 25%;
    float: left;
    text-align: left;
    margin-top: 4.5vh;/*5.4vh*/
    margin-bottom: 2vh;
}
#right_fashion i {
    padding: 0 1vw;
    cursor: pointer;
}
#free {
    text-align: left;
    margin
    font-size: 1.2vh;
}
#profile_pic {
    float: left;
    height: 3vh;
    border-radius: 50%;
    margin-right: 2vw;
}
.article {
    width: 80%;
    display: block;
    margin: 3vh auto;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
    padding: 2vh 0;
}
.article_text {
    display: block;
    width: 80%;
    margin: 3vh auto;
    text-align: left;
}
#article_img {
    width: 100%;
    margin: 2vh 0;
} 
.article pre {
    font-size: 1.2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bot {
    font-size: 1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

/*Food.html*/
#food_head {
    display: block;
    position: relative;
    width: 100%;
}
#food_head img {
    width: 100%;
    height: 385px;
    object-fit: fill;
}
#first_txt {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 13%;
    box-sizing: border-box;
    background-color: white;
    line-height: normal;
    padding-left: 30px;
    padding-right: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#first_txt h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
}
#second_txt {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 15%;
    background-color: #2F2E2E;
    line-height: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
}
#second_txt h3 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
.article_food {
    display: block;
    width: 70%;
    margin: 50px auto;
    border: 1px solid #bdbdbd;
    position: relative;
    background-color: white;
}
.article_food img {
    width: 100%;
    cursor: pointer;
}
#article_food_head {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top:-20px;
    left: -20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2F2E2E;
}
#article_food_head pre {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color:white;
}
.food_text {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1vh;
}
.border {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}
.food_text img {
    width: 30px;
    border-radius: 50%;
    margin-top: 25px;
    cursor:default;
}
.food_text span {
    font: 12px sans-serif;
    color: #2F2E2E;
    margin-left: 10px;
    position: relative;
    top: -10px;
}
#food_text_h1 {
    text-align: left;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
}
.food_text h1 {
    cursor: pointer;
}
span.abstract {
    text-align: left;
    font-size: 13px;
    position: relative;
    bottom: 50px;
    padding-bottom: 20px;
    margin-left: 0px;
    line-height: 0.5;
    font-family: sans-serif;
    
}
.overlay {
    display: none;
}
#not_mobile {
    display: none;
}
/*Individual articles*/
.back_color {
    background-color: #ebebeb;          /*background color specific*/
}
#span_top {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;  
    margin-left: 5vw;
    margin-top: 2vh;
    display: none;
}
.article_inner {
    padding: 2.5vh 5vw;
    background-color: white;
}
.article_inner i {
    float: right;
    position: relative;
    bottom: 3vh;
}
.article_inner pre {
    position: relative;
    top: 0.5vh;
}
.article_inner h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
    font-weight: 550;
    margin-top: 3vh;
}
#article_main_img {
    width: 100%;
    margin: 2vh 0 2vh 0;
}
#span_bot {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}
.article_inner p {
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
}
p.fancy {
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    border-left: 2px solid rgb(83, 1, 83);
    padding: 1.5vw;
}
.article_links {
    display: block;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 1vh;
    padding-bottom: 4vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
.article_links i {
    margin-right: 4vw;
    float: left;
    position: relative;
    top: 0.5vh;
    font-size: 18px;
}
img.article_profile {
    margin-top: 1vh;
}

/*index.html*/
.travel_nav {
    display: block;
    width: 100%;
    background-color: #bdbdbd;
    padding-bottom: 3.5vh;
}
.ul_left {
    text-align: left;
    position: relative;
    top: 3.5vh;
}
#li_left {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
}
#li_left li {
    padding: 0 10px;
    margin-right: 0.4vw;
    font-size: 14px;
}
.ul_right {
    text-align: right;
}
#li_right {
    margin-right: 5%;
}
#li_right li {
    padding: 0 1.5vw;
    margin-left: 1vw;
    font-size: 15px;
}
.travel_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.travel_nav ul li {
    display: inline;
}
#travel_main{
    position: relative;
}
#travel_main_img {
    object-fit:cover;
    width:100%;
}
#head_middle {
    width: 40%;
    display: block;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 30%;
    left: 40%;
    color:white;
    line-height: 10px;
}
#head_middle h1 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    line-height: 0;
}
#head_middle span {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
/*about.html*/
.about_text {
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 5vh;
}
.about_text h1 {
    font-size: 36px;
    font-family: serif;
    font-weight: normal;
}
.about_text p {
    margin-top: 4vh;
    font-family: sans-serif;
    color: #696969;
    font-size: 18px;
    line-height: 1.7;
}
.about_img {
    width: 30%;
    float:left;
    margin-top: 14vh;
    margin-left: 4vw;
    margin-bottom: 10vh;
}

/*Anchor Tags*/
a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(83, 1, 83);
}
a:visited {
    text-decoration: none;
    color: black;
}