body {
    margin: 0;
}
hr {
    visibility: hidden;
}
.text {
    line-height: 4vh;
}
.container {
    position: relative;
    text-align: center;
    margin-bottom: 3vh;
}
.container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.head_text {
    position: absolute;
    bottom:23vh;
    left: 7vw;
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5vw;
    margin-right: 40vw;
    line-height: 7vh;
}
h2.head_text {
    font-size: 40px;
    font-weight: normal;
}
span.head_text {
    font-size: 20px;
    font-family: cursive;
    font-weight: normal;
    bottom: 20vh;
}
#left {
    width: 50%;
    display: block;
    margin: 10vh auto;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(153, 153, 153, 0.19);
    padding: 5vh 5vw;
}
#left .left {
    width: 48%;
    height: 50.5vh;
    margin-right: 0.4vw;
    margin-bottom: 0.5vh;
}
#left .right {
    width: 48%;
    height: 50.5vh;
    margin-left: 0.4vw;
    margin-bottom: 0.5vh;
}
#left .center {
    width: 98.25%;
    margin-top: 0.5vh;
}
.links {
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 2px solid rgb(180, 180, 180);
    padding: 3vh 0;
}
.links i {
    margin-right: 2vw;
    font-size: 20px;
}
h2 {
    margin-left: 20vw;
}
.recent {
    display: block;
    width: 50px;
    margin-left: 20vw;
    float: left;
}
.text {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recent .text {
    float:none;
    text-align: left;
    font-size: 15px;
    width: 250px;
}
.recent span {
    font-size: 12px;
}
.text h1 {
    line-height: 6vh;
}
.nav {
    display: none;
}
#socials {
    display: block;
    width: 100%;
    background-color: #2573DA;
    overflow: hidden;
    margin-top: 50vh;
    margin-bottom: 10vh;
    height: 10vh;
}
#social_links {
    display: block;
    margin: 3.5vh 10vw 3.5vh 16vw;
    text-align: center;
    color: white;
}
#socials i {
    margin-right: 0.7vw;
    font-size: 20px;
    cursor: pointer;
}
#socials span {
    margin-right: 8vw;
    font-family: sans-serif;
    cursor: pointer;
}
#twitter {
    margin-right: 0vw;
}